<template name="conv">
	<div class="col m3 s12 conv-col grey lighten-2 z-depth-1">
		<h5>Conversation</h5>
		<form class="add-conv input-field">
			<textarea name="text" class="materialize-textarea" placeholder="Add Note"></textarea>
			<input type="submit" class="btn action-btn" value="Submit">
		</form>
		{{#if Template.subscriptionsReady}}
			<ul id="convs">
				{{# each convs}}
			    <li>{{{text}}}<br/><i>{{user}} {{formatDateTime date}}</i></li>
				{{/each}}
			</ul>
		{{else}}
			<div class="center">
				<p><i class="fa fa-spinner fa-spin"></i></p>
				<p>Loading</p>
			</div>

		{{/if}}

        
	</div>
</template>	