<template name="editproject">
	{{#if Template.subscriptionsReady}}
		<h3>Edit Project</h3>
		{{#autoForm collection="Projects" id="updateProject" type="update" doc=project}}
		  {{> afQuickField name='title'}}
		  {{> afQuickField name='status'}}
	      {{> afQuickField name='description' rows=3}}
	      {{> afQuickField name='requestor' options=employees firstOption="(None Assigned)"}}
	      {{> afQuickField name='due_on'}}
		  {{> afQuickField name='notes'}}
		  <input type="submit" class="btn right" value="Update"/>
		  <a href="/project/{{project._id}}" class="btn left blue">Back To Project</a>
		{{/autoForm}}
	{{else}}
		<div class="center">
		  <div class="preloader-wrapper big active">
		    <div class="spinner-layer spinner-blue-only">
		      <div class="circle-clipper left">
		        <div class="circle"></div>
		      </div><div class="gap-patch">
		        <div class="circle"></div>
		      </div><div class="circle-clipper right">
		        <div class="circle"></div>
		      </div>
		    </div>
		  </div>
		</div>
	{{/if}}	
</template>

<template name="newproject">
	<h3>Add a Project</h3>
	{{#autoForm collection="Projects" id="insertProject" type="insert" doc=request}}
	  {{> afQuickField name='title'}}
	  {{> afQuickField name='status'}}
      {{> afQuickField name='description' rows=3}}
      {{> afQuickField name='requestor' options=employees firstOption="(None Assigned)"}}
      {{> afQuickField name='due_on'}}
	  {{> afQuickField name='notes'}}
	  <input type="submit" class="btn" value="Insert"/>
	{{/autoForm}}
</template>

<template name="requestToProject">
	<h3>Create Project from Request</h3>
	{{#autoForm collection="Projects" id="insertReqToProject" type="insert" doc=request}}
	  {{> afQuickField name='title'}}
	  {{> afQuickField name='status'}}
      {{> afQuickField name='description' rows=3}}
      {{> afQuickField name='requestor' options=employees firstOption="(None Assigned)"}}
      {{> afQuickField name='due_on'}}
	  {{> afQuickField name='notes'}}
	  <input type="submit" class="btn" value="Insert"/>
	{{/autoForm}}
</template>