<template name="projects">
	{{#if Template.subscriptionsReady}}
		<div class="col s12">
			<p class="header">Title <span class="right">Due On</span></p>
			<ul class="collapsible popout" data-collapsible="accordion">
				{{#each projects}}
					<li>
				      <div class="collapsible-header">{{title}} <span class="right">{{>dueon}}</span></div>
				      <div class="collapsible-body">
				      	{{>projectBody}}
				      </div>
				    </li>
				{{/each}}
				</ul>
		</div>
		<script>
			$(".collapsible").collapsible();
		</script>
	{{else}}
		<div class="center">
		  <div class="preloader-wrapper big active">
		    <div class="spinner-layer spinner-blue-only">
		      <div class="circle-clipper left">
		        <div class="circle"></div>
		      </div><div class="gap-patch">
		        <div class="circle"></div>
		      </div><div class="circle-clipper right">
		        <div class="circle"></div>
		      </div>
		    </div>
		  </div>
		</div>
	{{/if}}
</template>

<template name="active">
    <h3>Active Projects</h3>
    {{>projects projects=active}}
    <p><a href="/newproject" class="btn btn-info">Add Project</a></p>
    <p><a href="/projects/completed">View Completed Projects</a></p>
    <p><a href="/projects/hold">View Projects On Hold</a></p>
    <p><a href="/projects/maintain">View Projects In Maintenance</a></p>
</template>

<template name="maintain">
    <h3>Projects in Maintenance</h3>
    {{>projects projects=maintain}}
    <p><a href="/projects" class="btn blue">Back to Projects</a></p>
</template>

<template name="hold">
    <h3>Projects on Hold</h3>
    {{>projects projects=hold}}
    <p><a href="/projects" class="btn blue">Back to Projects</a></p>
</template>

<template name="completed">
    <h3>Completed Projects</h3>
    {{>projects projects=completed}}
    <p><a href="/projects" class="btn blue">Back to Projects</a></p>
</template>

<template name="taskActions">
	<a href="/edittask/{{_id}}" class="btn action-btn blue lighten-1">Edit</a>
	{{#unless completed_on}}
		<a href="#" class="btn btn-success action-btn done"><i class="material-icons">done</i></a>
	{{/unless}}
</template>