<template name="project">
	<div class="col-md-9">
	{{#if Template.subscriptionsReady}}
		<h1>Project: {{project.title}} <a href="/editproject/{{project._id}}" class="btn blue lighten-1 pull-right">Edit Project</a></h1>
		<div class="row" style="margin-top:30px;font-size:16px">
			<div class="col-md-6">
				<table class="table table-bordered">
					<tr>
						<th class="left-align">Due On: </th>
						<th class="left-align">Completed On: </th>
					</tr>
					<tr>
						<td>{{formatDate project.due_on}}</td>
						<td>{{project.completed_on}}</td>
					</tr>
				</table>
			</div>
			<div class="col-md-6">
				<p><strong>Notes:</strong></p>
				<p>{{project.notes}}</p>
			</div>
		</div>
		<h2>Tasks</h2>
		{{> reactiveTable fields=fields collection=todo showFilter=false}}
		<div class="row"><a href="/newtask/{{project._id}}" class="btn btn-success">Add Task</a></div>
<!-- 		<h2>Tasks Completed</h2>
		{{> reactiveTable fields=fields collection=completed showFilter=false}}-->
	{{else}}
		<div class="text-center">
			<p><i class="fa fa-spinner fa-spin"></i></p>
			<p>Loading</p>
		</div>
	{{/if}}
	</div>
	{{> conv}}
	
	<script type="text/javascript">
		$(function(){
			$(".conv-col").height($("body").height());
		})	
	</script>
</template>

<template name="projects">
	<div class="col-md-12">
		<h1>My Projects</h1>
		{{> reactiveTable fields=fields collection=projects}}
		<p><a href="/newproject" class="btn btn-info">Add Project</a></p>
	</div>
</template>

<template name="taskActions">
	<a href="/edittask/{{_id}}" class="btn blue lighten-1">Edit</a>
	{{#unless completed_on}}
		<a href="#" class="btn btn-success done"><i class="fa fa-check"></i></a>
	{{/unless}}
</template>

<template name="newproject">
	<h3>Add a Project</h3>
	{{> quickForm collection="Projects" id="insertProject" type="insert"}}
</template>

<template name="editproject">
	<h3>Edit Project</h3>
	{{> quickForm collection="Projects" id="updateProject" type="update" doc=project}}
</template>