<template name="projects">
	{{#if Template.subscriptionsReady}}
		<div class="col s12">
			<h3>My Projects</h3>
			<p class="header">Title <span class="right">Due On</span></p>
			<ul class="collapsible popout" data-collapsible="accordion">
				{{#each projects}}
					<li>
				      <div class="collapsible-header">{{title}} <span class="right">{{>dueon}}</span></div>
				      <div class="collapsible-body">
				      	{{>projectBody}}
				      </div>
				    </li>
				{{/each}}
				</ul>
			<p><a href="/newproject" class="btn btn-info">Add Project</a></p>
		</div>
		<script>
			$(".collapsible").collapsible();
		</script>
	{{else}}
		<div class="center">
		  <div class="preloader-wrapper big active">
		    <div class="spinner-layer spinner-blue-only">
		      <div class="circle-clipper left">
		        <div class="circle"></div>
		      </div><div class="gap-patch">
		        <div class="circle"></div>
		      </div><div class="circle-clipper right">
		        <div class="circle"></div>
		      </div>
		    </div>
		  </div>
		</div>
	{{/if}}
</template>

<template name="taskActions">
	<a href="/edittask/{{_id}}" class="btn action-btn blue lighten-1">Edit</a>
	{{#unless completed_on}}
		<a href="#" class="btn btn-success action-btn done"><i class="material-icons">done</i></a>
	{{/unless}}
</template>