<head>
  <title>Felix</title>
  <link rel="icon" type="image/png" href="favicon.png" />
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="initial-scale=1">
</head>

<template name="mainLayout"> 
<nav class="blue darken-3">
  <ul class="left hide-on-med-and-down">
    <li><a href="/home" style="font-size: 24px;">Felix</a></li>
    {{#if currentUser}}
    <li><a href="/" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="Checklist"><i class="fa fa-list"></i></a></li>
    <li><a href="/projects" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="Projects"><i class="fa fa-folder-open"></i></a></li>
    {{/if}}
  </ul>
  <ul class="right hide-on-med-and-down">
    {{#if currentUser}}
      <li><a href="#" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="Notifications"><i class="fa fa-inbox"></i></a></li>
      <li role="presentation" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-user" style="color:#fff"></i>
          <span style="color:#fff">{{currentUser.profile.firstname}}</span>
          <span class="caret" style="color:#fff"></span>
        </a>
        <ul id="menu2" class="dropdown-menu" aria-labelledby="drop5">
          <li><a href="/profile"><i class="fa fa-pencil"></i> Profile</a></li>
          <li><a href="#" class="logout"><i class="fa fa-sign-out"></i> Logout</a></li>
        </ul>
      </li>
    {{else}}
    <li>
         <a id="login" href="#" data-toggle="modal" data-target="#myModal" style="color:#fff"><span class="fa fa-sign-in" aria-hidden="true"></span> Login</a>
    </li>

    {{/if}}
  </ul>
  <ul id="slide-out" class="side-nav">
    <li><a href="/home" style="font-size: 24px;">Felix</a></li>
    <li><a href="/"><i class="fa fa-list"></i> Checklist</a></li>
    <li><a href="/projects"><i class="fa fa-folder-open"></i> Projects</a></li>
    <li><a href="#" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="Notifications"><i class="fa fa-inbox"></i> Notifications</a></li>
      
    <li><a href="/profile"><i class="fa fa-pencil"></i> Profile</a></li>
    <li><a href="#" class="logout"><i class="fa fa-sign-out"></i> Logout</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>
<script>
$(".button-collapse").sideNav();
</script>
  <div style="background-color: #fff;" class="container floating">

    {{#if currentUser}}
      {{> Template.dynamic template=content}}
    {{else}}
      {{> home}}
    {{/if}}

  </div>
  <br/>
  <div class="text-center col-md-12"><i class="glyphicon glyphicon-copyright-mark"></i> 2015 ExcelCEO <br/> <span style="font-size:10px">Documents Set graphic by <a href="http://www.freepik.com/">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a></span></div>
  
</template>