<template name="newtask">
	<h3>Add Task for <i>{{project.title}}</i></h3>
	{{> quickForm collection="Tasks" id="insertTask" type="insert" doc=taskDefault}}
	<input type="button" class="back btn btn-primary" value="Back To Project"/>
</template>

<template name="edittask">
	<h3>Edit Task</h3>
	{{#autoForm collection="Tasks" id="updateTask" type="update" doc=task}}
	  {{> afQuickField name='title'}}
	  {{> afQuickField name='order_num'}}
      {{> afQuickField name='description' rows=3}}
      {{> afQuickField name='due_on'}}
      {{#if task.completed_on}}
      	<label>Completed On</label>
	  	<p>{{formatDate task.completed_on}} <input type="button" class="not-done btn btn-danger" value="X"/></p>
	  {{else}}
	  	{{> afQuickField name='completed_on'}}
	  {{/if}}
	  <div class="select-field">
	  	{{> afQuickField name='assigned_to' class="browser-default" options=employees firstOption="(None Assigned)"}}
	  </div>
	  <input type="submit" class="btn btn-primary" value="Update"/>
	{{/autoForm}}

</template>