<template name="home">
<style>
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: none; 
}
</style>
<div class="text-center">
	<h1><img src="logo.png" style="margin-top: -30px;"/> Project Management</h1>
	<h4>Project management shouldn't be complicated</h4>
	<div class="col-md-3">
		<h1 style="font-size:40px"><i class="fa fa-list-alt"></i></h1>
		<h4>Simple User Interface</h4>
	</div>
	<div class="col-md-3">
		<h1 style="font-size:40px"><i class="fa fa-inbox"></i></h1>
		<h4>Go Emailess</h4>
	</div>
	<div class="col-md-3 text-center">
		<h1 style="font-size:40px"><i class="fa fa-calendar"></i></h1>
		<h4>Create Recurring Projects</h4>
	</div>
	<div class="col-md-3 text-center">
		<h1 style="font-size:40px;"><i class="fa fa-download"></i></h1>
		<h4>Generate Great Reports</h4>
	</div>

</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      {{> login}}
  </div>
</div>
</template>