<template name="home">
<div class="card text-center">
	<h1>Felix Simple Project Management</h1>
	<h4>Project management shouldn't be complicated</h4>
	<div class="col-md-3 card">
		<h1 style="font-size:40px"><i class="glyphicon glyphicon-list-alt"></i></h1>
		<h4>Simple User Interface</h4>
	</div>
	<div class="col-md-3 card">
		<h1 style="font-size:40px"><i class="glyphicon glyphicon-inbox"></i></h1>
		<h4>Go Emailess</h4>
	</div>
	<div class="col-md-3 card text-center">
		<h1 style="font-size:40px"><i class="glyphicon glyphicon-calendar"></i></h1>
		<h4>Create Recurring Projects</h4>
	</div>
	<div class="col-md-3 card text-center">
		<h1 style="font-size:40px;"><i class="glyphicon glyphicon-save-file"></i></h1>
		<h4>Generate Great Reports</h4>
	</div>

</div>
</template>