<template name="dashboard">
	<h1>Checklist</h1>
	<p style="font-size:24px">Tasks for {{currentUser.profile.firstname}} {{currentUser.profile.lastname}}</p>
	<p style="font-size:18px"> as of {{today}}</p>
	{{> reactiveTable fields=fields collection=tasks}}
    <p><a href="/newproject" class="btn btn-info">Add Project</a></p>
</template>

<template name="projectLink">
	<a href="/project/{{projectId}}">{{projectTitle}}</a>
</template>

<template name="taskLink">
	<a href="/edittask/{{_id}}">{{title}}</a>
</template>

<template name="Actions">
	<button class="btn btn-success done"><i class="glyphicon glyphicon-ok"></i></button> 
	<!-- <input type="button" class="btn btn-danger delete" value="Delete"/>  -->
</template>

