<template name="dueon">
	{{formatDate this.due_on}}
</template>
<template name="completedon">
	{{formatDate this.completed_on}}
</template>
<template name="noTasks">
	<h2 class="text-center">You have no tasks todo!</h2>
</template>
<template name="noProjects">
	<h2 class="text-center">You have no active projects!</h2>
</template>
<template name="noRequests">
	<h2 class="text-center">You have no project requests.</h2>
</template>
<template name="dashboard">
	<div class="col-md-12">
		{{#if Template.subscriptionsReady}}
			<h1>Checklist</h1>
			<p style="font-size:24px">Tasks for {{currentUser.profile.firstname}} {{currentUser.profile.lastname}}</p>
			{{> reactiveTable fields=fields collection=tasks showFilter=false}}	
			<hr/>
			<p style="font-size:24px">Active Projects</p>
			{{> reactiveTable fields=projFields collection=projects showFilter=false}}

		    <p><a href="/newproject" class="btn btn-info">Add Project</a></p>
		    <hr/>
		   	<p style="font-size:24px">Projects Requests</p>
			{{> reactiveTable fields=projFields collection=requests showFilter=false}}
		{{else}}
			<div class="text-center">
				  <div class="preloader-wrapper big active">
				    <div class="spinner-layer spinner-blue-only">
				      <div class="circle-clipper left">
				        <div class="circle"></div>
				      </div><div class="gap-patch">
				        <div class="circle"></div>
				      </div><div class="circle-clipper right">
				        <div class="circle"></div>
				      </div>
				    </div>
				  </div>
				<p>Loading Checklist</p>
			</div>
		{{/if}}
    </div>
</template>

<template name="projectLink">
	<a href="/project/{{projectId}}">{{projectTitle}}</a>
</template>

<template name="editProjectLink">
	<a href="/project/{{_id}}">{{title}}</a>
</template>

<template name="taskLink">
	<a href="/edittask/{{_id}}">{{title}}</a>
</template>

<template name="Actions">
	<button class="btn btn-success done"><i class="fa fa-check"></i></button> 
	<!-- <input type="button" class="btn btn-danger delete" value="Delete"/>  -->
</template>